@import "tailwindcss";

:root {
  --blue: rgb(54 152 212);
  --dark-blue: rgb(46 119 164);
  --orange: rgb(255 135 109);
  --yellow: rgb(252 246 197)

}

body {
  background-image: url('/body_bg.png');
  background-repeat: repeat;
  background-size: contain;
}